$brand-primary: #006EE1;
$brand-white: #EEEEEE;
$gray: #474747;
$font-family-sans-serif: "Open Sans";
$input-border-focus: $brand-primary;
$input-color-placeholder: #222;
$enable-flex: true;
$gray-base: pink;

$font-size-root: 14px;

@import "sewo/variables";

// Core variables and mixins
@import "variables";
@import "mixins";
@import "custom";

// Reset and dependencies
@import "normalize";

// @import "print";

// Core CSS
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";

// @import "media";
@import "list-group";

// @import "responsive-embed";
@import "close";

// Components w/ JavaScript
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";

// Utility classes
@import "utilities";

// Include FontAwesome
// @import "font-awesome";

// Sewo customs
@import "sewo";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #252628 url(../images/bg.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

#main {
  background-color: $gray-lighter;

  @extend .p-3;
}

#desc,
#photo,
#specs {
  display: block;
}
