@mixin text-border($width: 1, $color: $brand-primary) {
  $width: $width + 0;
  $shadow: 0 0 0 transparent;
  $i: 0;
  $w: 1;

  @while $i < $width {
    $i: $i + 1;
    $j: 0;
    $w: $w + 2;

    @for $r from 1 through $w {
      @for $c from 1 through $w {
        $x: $c - ceil($w / 2);
        $y: $r - ceil($w / 2);

        $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
      }
    }
  }

  text-shadow: $shadow;
}

.font-300 {
  font-weight: 300;
}

$title-color: $btn-primary-color !default;
$title-bg: $btn-primary-bg !default;
$title-overlay: $btn-primary-bg !default;

$fonts-sizes: "base" $font-size-base, "lg" $font-size-lg, "sm" $font-size-sm, "xs" $font-size-xs, "xl" 1.4rem;

@each $i in $fonts-sizes {
  .text-#{nth($i, 1)} {
    font-size: #{nth($i, 2)};
  }
}

.d-flex {
  display: flex;

  .row {
    width: 100%;
  }
}

.sw-image {
  overflow: hidden !important;

  &.zoom {
    > img,
    .backstretch {
      transition: .3s ease-in-out all;
    }

    &:hover {
      > img,
      .backstretch {
        transform: scale(1.05);
      }
    }
  }
}

.sw-title {
  overflow: hidden !important;
  display: block;
  position: relative;

  > img {
    position: relative;
    z-index: 1;

    &.wide {
      min-height: 100%;
      min-width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.tall {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      max-width: none;
      max-height: none;
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  > img,
  .backstretch {
    // transition: all .6s ease-in-out;

  }

  &:before, &:after {
    content: '';
    position: absolute;
    text-align: center;
    transition: all .6s ease-in-out;
    width: 100%;
  }

  &:before {
    z-index: 2;
    height: 100%;
  }

  &:after {
    z-index: 3;
    background: rgba($title-bg, 0.9);
    color: $title-color;
    content: attr(data-title);
    line-height: 1.5em;
    overflow: hidden;
    padding: 1em .5em;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &.fade-in {
    &.overlay {
      &:before {
        background: rgba($title-bg, 0);
      }

      &:hover:before {
        background: rgba($title-bg, 0.5);
      }
    }

    &:after {
      opacity: 0;
      top: 0;
    }

    &.bottom:after {
      top: auto;
      bottom: 0;
    }

    &.middle:after {
      top: 50%;
      margin-top: -1.75em;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  &.fade-out {
    &.overlay {
      &:before {
        background: rgba($title-bg, 0.5);
      }

      &:hover:before {
        background: rgba($title-bg, 0);
      }
    }

    &:after {
      opacity: 1;
      top: 0;
    }

    &.bottom:after {
      top: auto;
      bottom: 0;
    }

    &.middle:after {
      top: 50%;
      margin-top: -1.75em;
    }

    &:hover:after {
      opacity: 0;
    }
  }

  &.slide {
    &.overlay {
      &:before {
        background: rgba($title-overlay, 0.5);
        top: -100%;
      }

      &.bottom {
        &:before {
          bottom: -100%;
          top: auto;
        }

        &:hover:before {
          bottom: 0;
          top: auto;
        }
      }

      &.reverse {
        &:before {
          bottom: -100%;
          top: auto;
        }

        &.bottom {
          &:before {
            bottom: auto;
            top: -100%;
          }

          &:hover:before {
            bottom: auto;
            top: 0;
          }
        }

        &.left {
          &:before {
            left: auto;
            right: -100%;
            top: 0;
          }

          &:hover:before {
            left: auto;
            right: 0;
            top: 0;
          }
        }

        &.right {
          &:before {
            left: -100%;
            right: auto;
            top: 0;
          }

          &:hover:before {
            left: 0;
            right: auto;
            top: 0;
          }
        }

        &:hover:before {
          bottom: 0;
          top: auto;
        }
      }

      &.left {
        &:before {
          left: -100%;
          top: 0;
        }

        &:hover:before {
          left: 0;
          top: 0;
        }
      }

      &.right {
        &:before {
          left: auto;
          right: -100%;
          top: 0;
        }

        &:hover:before {
          left: auto;
          right: 0;
          top: 0;
        }
      }

      &.in {
        &:before {
          left: 0;
          top: 0;

          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 0 0 rgba($title-overlay, 0.5);
          background: none;
        }

        &:hover:before {
          left: 0;
          top: 0;

          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 0 0 10em rgba($title-overlay, 0.5);
        }

        &.left:hover:before {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset -10em 0 0 10em rgba($title-overlay, 0.5);
        }

        &.right:hover:before {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset -10em 0 0 10em rgba($title-overlay, 0.5);
        }
      }

      &:hover:before {
        top: 0;
      }
    }

    &:after {
      top: -3.5em;
    }

    &.bottom {
      &:after {
        bottom: -3.5em;
        top: auto;
      }

      &:hover:after {
        bottom: 0;
        top: auto;
      }
    }

    &.left {
      &:after {
        top: 50%;
        margin-top: -1.75em;
        left: -100%;
      }

      &:hover:after {
        top: 50%;
        left: 0;
      }
    }

    &.right {
      &:after {
        top: 50%;
        margin-top: -1.75em;
        right: -100%;
      }

      &:hover:after {
        top: 50%;
        right: 0;
      }
    }

    &:hover:after {
      top: 0;
    }
  }

  &.move {
    background: $title-bg;

    &.overlay {
      &:before {
        top: 100%;
        left: 0;
        background: rgba($title-overlay, 0.5);
        z-index: 1;
      }

      &.reverse {
        &:before {
          bottom: 100%;
          top: auto;
        }

        &:hover:before {
          bottom: 0;
          top: auto;
        }
      }

      &:hover:before {
        top: 0;
      }
    }

    &.top {
      &.overlay {
        &:before {
          bottom: 100%;
          top: auto;
        }

        &.reverse {
          &:before {
            top: 100%;
            bottom: auto;
          }

          &:hover:before {
            top: 0;
            bottom: auto;
          }
        }

        &:hover:before {
          bottom: 0;
          top: auto;
        }
      }

      &:after {
        bottom: auto;
        top: -3.5em;
      }

      &:hover {
        > img,
        .backstretch {
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateY(1.75em);
        }

        &:after {
          bottom: auto;
          top: 0;
        }
      }
    }

    &:after {
      background: $title-bg;
      bottom: -3.5em;
      z-index: 2;
    }

    &:hover {
      > img,
      .backstretch {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-10%);
      }

      &:after {
        bottom: 0;
      }
    }
  }

  &.uncover {
    background: $title-bg;
    z-index: 0;

    &.overlay {
      &:before {
        top: 0;
        left: 0;
        height: auto;
        background: rgba($title-overlay, 0.5);
        z-index: 2;
        bottom: 0;
        top: 100%;
      }

      &.reverse {
        &:before {
          bottom: 100%;
          top: 0;
        }

        &:hover:before {
          bottom: 3.4em;
          top: 0;
        }
      }

      &:hover:before {
        bottom: 3.4em;
        top: 0;
      }
    }

    &.top {
      &.overlay {
        &:before {
          bottom: 100%;
          top: 0;
        }

        &.reverse {
          &:before {
            bottom: 0;
            top: 100%;
          }

          &:hover:before {
            bottom: 0;
            top: 3.4em;
          }
        }

        &:hover:before {
          bottom: 0;
          top: 3.4em;
        }
      }

      &:after {
        bottom: auto;
        top: 0;
      }

      &:hover {
        > img,
        .backstretch {
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateY(3.4em);
        }
      }
    }

    &:after {
      bottom: 0;
      z-index: -1;
    }

    > img,
    .backstretch {
      z-index: 1 !important;
    }

    &:hover {
      > img,
      .backstretch {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-3.4em);
      }
    }
  }

  &.corner {
    &:before {
      border: 1em solid transparent;
      border-top-color: rgba($title-bg, 0.9);
      border-left-color: rgba($title-bg, 0.9);
      width: 0;
      height: 0;
      top: 0;
      left: 0;
    }

    &.bottom {
      &:before {
        bottom: 0;
        top: auto;
        border-top-color: transparent;
        border-bottom-color: rgba($title-bg, 0.9);
      }

      &:after {
        bottom: 0;
        top: auto;
      }
    }

    &.right {
      &:before {
        left: auto;
        right: 0;
        border-left-color: transparent;
        border-right-color: rgba($title-bg, 0.9);
      }

      &:after {
        padding-left: .5em;
        padding-right: 1.5em;
        text-align: right;
      }
    }

    &:hover {
      &:before {
        border-width: 5em 12em;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      background: none;
      opacity: 0;
      top: 0;
      padding-left: 1.5em;
      text-align: left;
    }
  }

  &.ribbon {
    overflow: visible !important;
    z-index: 0;

    &:before {
      background: darken($title-bg, 25%);
      left: 0;
      bottom: .9em;
      width: 0;
      height: 3.5em;

      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: skewY(45deg);

      //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
      transform-origin: 100% 100%;

      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .1s ease-in-out .5s;
      z-index: -1;
    }

    &:hover {
      &:before {
        left: -1.1em;
        width: 1.1em;

        //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
        transition-delay: 0s;
      }

      &:after {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleX(1);

        //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
        transition-delay: .1s;
      }
    }

    &:after {
      background: $title-bg;
      z-index: 2;
      bottom: 2em;
      left: -1.1em;

      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scaleX(0);

      //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
      transform-origin: 0 0;

      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .5s ease-in-out 0s;
    }
  }
}
