<p class="m-0 alert alert-success">A jeśli masz jakieś pytania, to śmiało dzwoń/pisz - postaram się pomóc!</p>
</div>
</div>
<div class="card text-center mx-3 mb-3">
    <div class="card-header ">
        Oj! Daleko zawędrowałeś. To może przy okazji sprawdzisz:
        <a href="http://allegro.pl/listing/user/listing.php?us_id=41387200" class="btn btn-block btn-primary btn-lg mt-1">Moje pozostałe aukcje</a>
    </div>
</div>
</div>

</body>

</html>
