<div class="w-25 mx-3">

    <div class="card mb-3 border-0">
        <div class="card-header ">
            W zestawie
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Klawiatura Razer Deathstalker Expert
            </li>
            <li class="list-group-item">
                Oryginalne pudełko
            </li>
            <li class="list-group-item">
                Rzep do spinania kabli - gratis
            </li>

        </ul>
    </div>

</div>
<div id="main" class="w-75 mx-3">
    <section id="desc">
        <h1 class="display-4 text-center">Razer Deathstalker Expert</h1>
        <hr class="my-4">
        <p class="text-justify">Witam Cię! Mam do sprzedania używaną klawiaturę podświetlaną <b>Razer Deathstalker Expert</b> zakupioną w Atenach (nie mylić z Deathstalker Essential 2014 która nie ma podświetlenia). <b>Używana</b> przez jakieś dwa miesiące, nosi minimalne ślady
            użytkowania. W <b>100%</b> sprawna! Stan jak na fotografiach. Oceniłbym jako bardzo dobry. :)</p>
        <p class="text-justify">W komplecie oryginalne pudełko. Niestety instrukcja i naklejki gdzieś mi przepadły.</p>
    </section>
    <section id="photo" class="mt-3 clear-both">
        <h2 class="">Real foto</h2>
        <hr class="mb-4">
        <img src="gallery/razer/1.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/2.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/3.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/4.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/5.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/6.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/7.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/razer/8.jpg" alt="" class="img-thumbnail img-fluid">
        <p class="text-center"><small>Nie posiadam instrukcji i naklejek.</small></p>
    </section>
    <section id="specs">
        <h2 class="">Specyfikacja techniczna</h2>
        <hr class="mb-4">

        <table class="table table-sm table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="2">Produkt</th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <th class="w-50">Producent</th>
                    <td>Razer</td>
                </tr>
                <tr>
                    <th>Kod producenta</th>
                    <td>RZ0300800100R3M1</td>
                </tr>
                <tr>
                    <th>EAN</th>
                    <td>879862005382</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="2">Podstawowe informacje</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th class="w-50">Linia</th>
                    <td>Nie</td>
                </tr>
                <tr>
                    <th>Kolor</th>
                    <td>Czarny</td>
                </tr>
                <tr>
                    <th>Komunikacja z komputerem</th>
                    <td>Przewodowa</td>
                </tr>
                <tr>
                    <th>Układ klawiatury</th>
                    <td>Amerykański (US)</td>
                </tr>
                <tr>
                    <th>Interfejs</th>
                    <td>USB</td>
                </tr>
                <tr>
                    <th>Typ klawiatury</th>
                    <td>Membranowa</td>
                </tr>
                <tr>
                    <th>Zastosowane technologie</th>
                    <td>Anti-Ghosting</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="2">Specyfikacja</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th class="w-50">Podświetlenie</th>
                    <td>tak</td>
                </tr>
                <tr>
                    <th>Blok numeryczny</th>
                    <td>tak</td>
                </tr>
                <tr>
                    <th>Hub USB</th>
                    <td>nie</td>
                </tr>
                <tr>
                    <th>Złącza Audio</th>
                    <td>Nie</td>
                </tr>
                <tr>
                    <th>Podpórka na nadgarski</th>
                    <td>Tak</td>
                </tr>
            </tbody>
        </table>

    </section>
    </table>

    </section>
