<div class="w-25 mx-3">

    <div class="card mb-3 border-0">
        <div class="card-header ">
            W zestawie
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Procesor AMD Phenom II X3 N830
            </li>


        </ul>
    </div>

</div>
<div id="main" class="w-75 mx-3">
    <section id="desc">
        <h1 class="display-4 text-center">Procesor AMD Phenom II X3 N830 HMN830DCR32GM</h1>
        <hr class="my-4">
        <p class="text-justify">Witam Cię! Mam do sprzedania używany procesor AMD Phenom II X3 N830 (HMN830DCR32GM). Testowany, w pełni sprawny.</p>
        <p class="text-justify">Gwarancja rozruchowa 14 dni - do tego czasu proszę nie usuwać naniesionych napisów.</p>
        <p class="text-justify">Sprzedaję jako prywatna osoba, nie wystawiam rachunków. :(</p>
    </section>
    <section id="photo" class="mt-3 clear-both">
        <h2 class="text-center">Moje autorskie fotografie</h2>
        <hr class="my-4">
        <img src="gallery/170112amd/1.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/170112amd/2.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/170112amd/3.jpg" alt="" class="img-thumbnail img-fluid mb-3">
    </section>
    <section id="specs">
        <h2 class="text-center">Specyfikacja techniczna</h2>
        <hr class="my-4">

        <table class="table table-sm table-striped table-hover">
            <tbody>
                <tr>
                    <th class="w-50">Nazwa robocza</th>
                    <td>Champlain</td>
                </tr>
                <tr>
                    <th>Taktowanie</th>
                    <td>2100 MHz</td>
                </tr>
                <tr>
                    <th>Magistrala</th>
                    <td>3600 MHZ</td>
                </tr>
                <tr>
                    <th>Pamięć 2. poziomu</th>
                    <td>1536 KB</td>
                </tr>
                <tr>
                    <th>Liczba rdzeni / wątków</th>
                    <td>3 / 3</td>
                </tr>
                <tr>
                    <th>TDP</th>
                    <td>35 W</td>
                </tr>
                <tr>
                    <th>Technologia wytwarzania</th>
                    <td>45 nm</td>
                </tr>
                <tr>
                    <th>Gniazdo</th>
                    <td>S1</td>
                </tr>
                <tr>
                    <th>Cechy</th>
                    <td>MMX(+), 3DNow!(+), SSE(1,2,3,4A), x86-64, AMD-V, kontroler pamięci DDR3-1333</td>
                </tr>
                <tr>
                    <th>64-bity</th>
                    <td>tak</td>
                </tr>

            </tbody>
        </table>

    </section>
