<div class="w-25 mx-3">

    <div class="card mb-3 border-0">
        <div class="card-header ">
            W zestawie
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Klawisz
            </li>
            <li class="list-group-item">
                Zaczep
            </li>
            <li class="list-group-item">
                Gumka
            </li>


        </ul>
    </div>

</div>
<div id="main" class="w-75 mx-3">
    <div id="desc">
        <h1 class="display-4 text-center">Klawisz do IBM / Lenovo x60 x60s x61 x61s</h1>
        <hr class="my-4">
        <p class="text-justify">Witam Cię! Mam do sprzedania niektóre klawisze z klawiatury (IBM x60/x61(s)), idealne rozwiązanie na ubytki powstałe przez głodnego psa czy wściekłego kota.</p>
        <p class="text-justify">Do tych laptopów były montowane różne klawiatury, przed zakupem upewnij się (zdjęcia poniżej powinny pomóc), że model mojej klawiatury odpowiada Twojej. Jak widać układ klawiszy to nie Qwerty USA (popularny w Polsce) tylko Querty FR. </p>
        <p class="text-justify">Klawisze wyszczególnione na pomarańczowo już znalazły nowych właścicieli (fotografia jest aktualizowana na bieżąco). Dla Twojej pewności: 1 sztuka produktu to zestaw składający się z klawisza, zaczepu i gumki - chcesz kupić dwa klawisze, kupujesz
            dwa przedmioty. Chyba jasne. :) nie zapomnij napisać w komentarzu jakiego klawisza potrzebujesz.</p>
        <p class="text-justify alert alert-info">Jestem w posiadaniu tylko jednej takiej klawiatury; może się zdarzyć, że przy demontażu klawisza coś się w nim ułamie - poinformuje Cię o tym i zwrócę całą kasę.</p>
        <p class="text-justify alert alert-danger">Sprzedaję jako prywatna osoba, nie wystawiam rachunków. :(</p>
    </div>
    <div id="photo" class="mt-3 clear-both">
        <h2 class="text-center">Moje autorskie fotografie</h2>
        <hr class="my-4">
        <img src="gallery/170116key/1.jpg" alt="" class="img-thumbnail img-fluid">
        <p class="text-center">Dostępne klawisze. Pomarańczowych nie mam już.</p>
        <img src="gallery/170116key/2.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/170116key/3.jpg" alt="" class="img-thumbnail img-fluid mb-3">
        <img src="gallery/170116key/4.jpg" alt="" class="img-thumbnail img-fluid mb-3">
    </div>
    <div id="specs">
        <h2 class="text-center">Specyfikacja techniczna</h2>
        <hr class="my-4">

        <table class="table table-sm table-striped table-hover">
            <tbody>
                <tr>
                    <th class="w-50">Układ klawiatury</th>
                    <td>Querty FR</td>
                </tr>
                <tr>
                    <th>Producent</th>
                    <td>IBM</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>KS90-FR</td>
                </tr>
                <tr>
                    <th>P/NO.</th>
                    <td>39T7239</td>
                </tr>
                <tr>
                    <th>FRU NO.</th>
                    <td>39T7270</td>
                </tr>
                <tr>
                    <th>Używana w</th>
                    <td>
                        <ul class="list-unstyled m-0">
                            <li>IBM x60 </li>
                            <li>IBM x60s </li>
                            <li>IBM x61 </li>
                            <li>IBM x61s </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
